<%= render partial: "users/navbar" %>	

<!-- Current Jobs -->
<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="panel panel-default">
			  <div class="panel-body">
    			<h4>Current Job</h4>
    				<div class="panel panel-default">
			  			<div class="panel-body">
			    			<TABLE>
							   <TR>
							      <TH>Job Site Location</TH>
							      <TH>Time In</TH>
							      <TH>Time Out<TH>
							      <TH>Upload Image</TH>
							   </TR>
							   <TR>
							      <TD id="vegasStrip">Las Vegas Strip</TD>
							      <TD><button>Time In</button></TD>
							      <TD><button>Time Out</button></TD>
							      <TD><button id="imageBtn">Image</button></TD>
							   </TR>
							</TABLE>
						</div>
			    			<TABLE id="secondTable">
							   <TR>
							      <TH>Date</TH>
							      <TH>Time In</TH>
							      <TH>Time Out<TH>
							   </TR>
							   <TR>
							      <TD>Wednesday July 1, 2015</TD>
							      <TD>6:49am</TD>
							      <TD>7:13pm</TD>
							   </TR>
							   <TR>
							      <TD>Thursday July 2, 2015</TD>
							      <TD>7:05am</TD>
							      <TD>6:29pm</TD>
							   </TR>							   
							</TABLE>						
					</div>		
  			  </div>
			</div>
		<div>	
	</div>
</div>	









<!-- Past Jobs -->
<div class="container" id="pastJobs">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="panel panel-default">
			  <div class="panel-body">
    			<h4>Past Jobs</h4>
    				<div class="panel panel-default">
			  			<div class="panel-body">
			    			<TABLE>
							   <TR>
							      <TH id="location">Job Site Location</TH>
							      <TH>Time In</TH>
							      <TH>Time Out</TH>
							      <TH>Images</TH>
							   </TR>
							   <TR>
							      <TD id="scHouse">Spencer Cornelia's House</TD>
							      <TD>8:32am</TD>
							      <TD>5:15pm</TD>
							      <TD><button>Images</button></TD>
							   </TR>
							   <TR>
							      <TD>Thomas Co.</TD>
							      <TD>6:37am</TD>
							      <TD>5:45pm</TD>
							      <TD><button>Images</button></TD>
							   </TR>
							</TABLE>
						</div>
					</div>	    			
  			  </div>
			</div>
		<div>	
	</div>
</div>	