<%= render partial: "users/navbar" %>	

<!-- Current Jobs -->
<div class="container">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="panel panel-default">
			  <div class="panel-body">
    			<h4>Current Job</h4>
  			  </div>
			</div>
		<div>	
	</div>
</div>	

<!-- Past Jobs -->
<div class="container" id="pastJobs">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="panel panel-default">
			  <div class="panel-body">
    			<h4>Past Jobs</h4>
  			  </div>
			</div>
		<div>	
	</div>
</div>	