<script src="../app/assets/javascripts/application.js"></script>
<%= render partial: "users/navbar" %>	

<!-- Current Jobs -->
<div class="container" id="currentJobsDiv">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="panel panel-default">
			  <div class="panel-body">
    			<h4>Current Job</h4>
    				<div class="panel panel-default">
			  			<div class="panel-body">
			    			<TABLE>
							   <TR>
							      <TH>Job Site Location</TH>
							      <TH>Time In</TH>
							      <TH>Time Out<TH>
							      <TH>Upload Image</TH>
							   </TR>
							   <TR>
							      <TD id="vegasStrip">Las Vegas Strip</TD>
							      <TD><button id="timeInOne">Time In</button></TD>
							      <TD><button id="timeOutOne">Time Out</button></TD>
							      <TD><button id="imageBtn">Image</button></TD>
							   </TR>
							</TABLE>
						</div>
			    			<TABLE id="secondTable">
							   <TR>
							      <TH>Date</TH>
							      <TH>Time In</TH>
							      <TH>Time Out<TH>
							   </TR>
							   <TR>
							      <TD class="clearTime">Wed Jul 1 2015</TD>
							      <TD class="clearTime">6:49am</TD>
							      <TD class="clearTime">7:13pm</TD>
							   </TR>
							   <TR>
							      <TD class="clearTime">Thur July 2 2015</TD>
							      <TD class="clearTime">7:05am</TD>
							      <TD class="clearTime">6:29pm</TD>
							   </TR>
							   <TR>
							      <TD id="currentDate"></TD>
							      <TD id="timeIn"></TD>
							      <TD id="timeOut"></TD>
							   </TR>							   							   
							</TABLE>						
					</div>		
    			<button class="btn" id="jobComp">Job Complete</button>
  			  </div>  			  
			</div>
		<div>	
	</div>
</div>	









<!-- Past Jobs -->
<div class="container" id="pastJobs">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="panel panel-default">
			  <div class="panel-body">
    			<h4>Past Jobs</h4>
    				<div class="panel panel-default">
			  			<div class="panel-body">
			    			<TABLE>
							   <TR>
							      <TH id="location">Job Site Location</TH>
							      <TH>Time In</TH>
							      <TH>Time Out</TH>
							      <TH>Images</TH>
							   </TR>
							   <TR>
							      <TD id="scHouse">Spencer Cornelia's House</TD>
							      <TD>8:32am</TD>
							      <TD>5:15pm</TD>
							      <TD><button id="button1">Images</button></TD>
							   </TR>
							   <TR>
							      <TD>Thomas Co.</TD>
							      <TD>6:37am</TD>
							      <TD>5:45pm</TD>
							      <TD><button id="button2">Images</button></TD>
							   </TR>
							   <TR>
							      <TD id="vegasStrip2"></TD>
							      <TD></TD>
							      <TD></TD>
							      <TD><button id="button3">Images</button></TD>
							   </TR>							   
							</TABLE>
						</div>
					</div>	    			
  			  </div>
			</div>
		<div>	
	</div>
</div>	


<!-- Pictures of jobs -->
<div class="container" id="allPictures1">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="panel panel-default">
			  <div class="panel-body">
			  	<div class="row">
			  		<div class="col-xs-12">
						<img src="http://i.imgur.com/znbdZse.jpg">
						<img src="http://i.imgur.com/xxsK6Ch.jpg">
						<img src="http://i.imgur.com/airy542.jpg">
						<img src="http://i.imgur.com/X0gsu4v.jpg">
						<img src="http://i.imgur.com/BXIq4Y5.jpg">
  			    	</div>
  			    </div>
  			    <div class="row">
  			    	<div class="col-xs-2">
  			    		<button class="btn" id="hideBtn">Hide</button>  			    		    
  			  		</div>
  			  	</div>  			    			    
  			  </div>
			</div>
		<div>	
	</div>
</div>	

<div class="container" id="allPictures2">
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="panel panel-default">
			  <div class="panel-body">
			  	<div class="row">
			  		<div class="col-xs-12">
						<img src="http://i.imgur.com/O0rnGrb.jpg">
						<img src="http://i.imgur.com/8E8rj8S.jpg">
						<img src="http://i.imgur.com/airy542.jpg">
						<img src="http://i.imgur.com/X0gsu4v.jpg">
						<img src="http://i.imgur.com/BXIq4Y5.jpg">
  			    	</div>
  			    </div>	
  			    <div class="row">
  			    	<div class="col-xs-2">
  			    		<button class="btn" id="hideBtn2">Hide</button>  			    		    
  			  		</div>
  			  	</div>
  			  </div>
			</div>
		<div>	
	</div>
</div>





