// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	margin: 0;
	padding: 0;
}


// @media (min-width: 846px) {
#basicModalOne {
	position: absolute;
	left: 30%;
	bottom: 30%;
	background-color: transparent;
	width: 200px;
	color: white;
	border-color: white;
	text-transform: uppercase;
}

#basicModalTwo {
	position: absolute;
	left: 50%;
	bottom: 30%;
	background-color: transparent;
	width: 200px;
	color: white;
	border-color: white;
	margin-left: 30px;
	text-transform: uppercase;
}

#basicModalThree {
	color: black;
}

#title {
	margin-top: 200px;
	left: 31%;
	position: absolute;
	z-index: 5;
	color: white;
    -webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}
// }

// @media (max-width: 846px) {
// 	#basicModalOne {
// 		position: absolute;
// 		left: 30%;
// 		bottom: 30%;
// 		background-color: transparent;
// 		width: 200px;
// 		color: white;
// 		border-color: white;
// 		text-transform: uppercase;
// 		display: block;
// 	}

// 	#basicModalTwo {
// 		position: absolute;
// 		background-color: transparent;
// 		width: 200px;
// 		color: white;
// 		border-color: white;
// 		margin-left: 30px;
// 		text-transform: uppercase;
// 	}
// }

#heroImage {
	background-image: url("http://www.hdwallpapersinn.com/wp-content/uploads/2014/08/hd-images-palm-tree-wallpaper1.jpg");
	height: 680px;
	opacity: 0.85;
	position: relative;
}

#services {
	height: 350px;
	width: 100%;
	margin-top: 20px;
}

#servicesOffered {
	left: 38%;
	position: absolute;
}

#fourServices {
	position: relative;
	margin-top: 80px;
	margin-left: 60px;
}

#testimonials {
	height: 550px;
	width: 100%;
	background-color: #94C0E1;
}

#testimonialsTitle {
	left: 35%;
	position: absolute;
}

#fourTestimonials {
	margin-top: 60px;
}

#picOne {
	margin-left: 40px;
}

#firstColumn {
	margin-top: 20px;
}

#secondColumn {
	margin-top: 60px;
}

#iconRow {
	left: 10%;
}

.contactUs {
	height: 200px;
}

table {
	width: 100%;
}

#secondTable {
	margin-top: 60px;
	margin-left: 10px;
}

th {
	text-decoration: underline;
}

#imageBtn {
	float: right;
	margin-right: -50px;
}

#location {
	width: 240px;
}

#currentJobsDiv {
	margin-top: 20px;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

